<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210257956320-ooonrithq3nss4og15buo1vnb3mmf2c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210257956320-ooonrithq3nss4og15buo1vnb3mmf2c0</string>
	<key>API_KEY</key>
	<string>AIzaSyDTFC8EvJ7GnPcEhRmc7f9v6_sltCet2U8</string>
	<key>GCM_SENDER_ID</key>
	<string>210257956320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buddyappfirebase</string>
	<key>PROJECT_ID</key>
	<string>buddyapp-22712</string>
	<key>STORAGE_BUCKET</key>
	<string>buddyapp-22712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:210257956320:ios:808bf124f7b76e2ce92f85</string>
	<key>DATABASE_URL</key>
	<string>https://buddyapp-22712.firebaseio.com</string>
</dict>
</plist>
